
*.mp4
Segundo/Programación de servicios y procesos/003-Programación de comunicaciones en red/001-Comunicación entre aplicaciones/101-Ejercicios/.env
Segundo/Programación de servicios y procesos/003-Programación de comunicaciones en red/002-Roles cliente y servidor/101-Ejercicios/imap_config.php
/Segundo/Proyecto Intermodular II/009-Proyectos segundo trimestre/003-Entrenamiento IA/.venv
Primero/Sistemas informáticos/003-Gestión de la información/005-Realización y restauración de copias de seguridad/101-Ejercicios/config_mysql_backup.json
Primero/Sistemas informáticos/003-Gestión de la información/006-Herramientas de administración de discos. Particiones y volúmenes. Desfragmentación y chequeo. Cifrado/101-Ejercicios/config.json
/Segundo/Proyecto Intermodular II/009-Proyectos segundo trimestre/005-entrenar chatbot a partir de pdf/qwen25-05b-jvc
/Segundo/Proyecto Intermodular II/009-Proyectos segundo trimestre/006-scrapeador web y entrenamiento/venv
/Segundo/Proyecto Intermodular II/009-Proyectos segundo trimestre/005-entrenar chatbot a partir de pdf/101-Ejercicios
/Segundo/Proyecto Intermodular II/009-Proyectos segundo trimestre/006-scrapeador web y entrenamiento/101-Ejercicios
/Segundo/Acceso a datos/004-Bases de datos objeto relacionales y orientadas a objetos/003-Acceso a las funciones del gestor de base de datos objeto-relacional/101-Ejercicios/corpus
/Primero/Sistemas informáticos/008-Proyectos/001-Generacion de imagenes/101-Ejercicios/.venv
/Primero/Sistemas informáticos/008-Proyectos/001-Generacion de imagenes/101-Ejercicios/venv
/Segundo/Desarrollo de interfaces/006-Documentación de aplicaciones/001-Ficheros de ayuda. Formatos/101-Ejercicios
/Primero/Programación/012-Inteligencia Artificial/002-Entrenar IA personalizada/101-Ejercicios/venv
/Segundo/Proyecto Intermodular II/009-Proyectos segundo trimestre/013-IA a partir de PDF/venv
