<!doctype html>
<html lang="es">
  <head>
    <title>Panel de administración</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/estilo.css">
  </head>
  <body>
    <header>
      <div id="corporativo"> 
        <img src="https://static.jocarsa.com/logos/jocarsa%20%7C%20White.svg">
        <p> jocarsa</p>
      </div>
      <button id="cerrarsesion">Cerrar sesion</button>
    </header>
    <main>
      <nav></nav>
      <section>
        <table>
          <thead><tr></tr></thead>
          <tbody></tbody>
        </table>
      </section>
    </main>
    <footer>
      <div id="corporativo"> 
        <img src="https://static.jocarsa.com/logos/jocarsa%20%7C%20White.svg">
        <p> jocarsa</p>
      </div>
      <input type="text" id="usuario" placeholder="Usuario:">
      <input type="password" id="contrasena" placeholder="Contraseña:">
      <button>Enviar</button>
      <p id="advertencia"></p>
    </footer>
  </body>
  <script src="static/login.js"></script>
  <script src="static/comportamiento.js"></script>
  <script src="static/cerrarsesion.js"></script>
</html>

