/* Estilos generales ////////////////////////////////////////////////// */
html,body{
  width:100%;
  height:100%;
  padding:0px;
  margin:0px;
  font-family:sans-serif;
  background:DarkCyan;
}
body{
  display:flex;
  flex-direction:column;
}
header{
  background:DarkCyan;
  padding:20px;
  color:white;
}
main{
  display:flex;
  height:100%;
  background:white;
}
/* Estilos del menu de navegacion //////////////////////////////////// */
nav{
  flex:1;
  padding:20px;
  background:DarkCyan;
  color:white;
}

nav{
  display:flex;
  flex-direction:column;
  gap:20px;
}
nav{
  padding-top:0px;
}
nav button{
  border:none;
  background:white;
  color:DarkCyan;
  padding:10px;
}
/* Estilos del contenedor principal //////////////////////////// */
section{
  flex:6;padding:20px;
}
table{
  width:100%;
  border-collapse:collapse;
}
table thead{
  background:darkcyan;
  color:white;
}
table td,table th{
  padding:10px;
}
table tbody tr:nth-child(even){
  background:lightcyan;
}
/* Inicialmente escondo las cosas */
header,main{
  display:none;
}
/* El login está en el footer */
footer{
  background:white;
  padding:20px;
  margin:auto;
  width:300px;
  height:300px;
  display:flex;
  flex-direction:column;
  gap:20px;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;

  align-content: center;
}
footer input{
  border:none;
  background:white;
  border-bottom:2px solid darkcyan;
  padding:20px;
  outline:none;
}
footer button{
  border:none;
  background:darkcyan;
  color:white;
  padding:20px;
}
#advertencia{
  text-align:center;
  color:orange;
  font-weight:bold;
}





