*{padding:0px;margin:0px;}
html,
body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  overflow: hidden;
}

body {
  display: flex;
}

nav {
  flex: 1;
  border-right: 1px solid lightgray;
  background: rgb(240, 240, 240);
  padding: 20px;
}

main {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main header {
  border-bottom: 1px solid lightgray;
  padding: 20px;
  display:flex;
  justify-content: space-between;
  align-items:center;
}

main section {
  padding: 20px;
  display:flex;
  flex-direction:column;
  gap:20px;
  overflow-y:scroll;
}

main footer {
  padding: 20px;
}

#prompt {
  border: 1px solid lightgray;
  border-radius: 40px;
  padding: 20px;
}

#prompt input {
  border: none;
  width: 100%;
  outline: none;
}

nav img {
  width: 50px;
}

nav #conversaciones {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  overflow-y: scroll;
}

main section article {
  padding: 20px;
}
main section .usuario{
  background:rgb(240,240,240);
  border-radius:20px;
  width:80%;
}
main section h1{
  text-align:center;
  font-style:italic;
}
#contienemodal{

  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.8);
  display:none;
  justify-content:center;
  align-items:center;
}
#contienemodal #modal{
  width:800px;
  height:400px;
  padding:20px;
  background:white;
  border-radius:20px;
  display:flex;
  flex-direction:row;
  gap:20px;
  justify-content:center;
  align-items:center;
}
#contienemodal #modal img{
  width:50%;
  
}
#contienemodal #modal *{
  flex:1;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:20px;
  }
  #contienemodal #modal input {
    padding:10px 0px;
    text-align:center;
    width:200px;
    border:1px solid lightgray;
  }

